spring:
  application:
    name: yck-ai-code-backend
  # mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/yck_ai_code
    username: root
    password: 123456
  profiles:
    active: local
server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      packages-to-scan: com.yck.aicode.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn

